@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url("img3/bg.jpg") repeat;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {color: #000; text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.center {
	width: 960px;
	margin: 0 auto;
}
#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%; 
}
.panel-top{
	height: 33px;
	background: #2A2B2C;
	border-top: 3px solid #cc3333;
}

.social a{
	display: inline-block;
	height: 23px;
	width: 23px;
	vertical-align: middle;
	background: url("img3/sprite-social.png") no-repeat center;
	border-radius: 50%;
}
.social{
	float: left;
	padding: 4px 0;
}

.social a.s-fb{
	background-position: 0 0 ;
}

.social a.s-dribble{
	background-position: -23px 0 ;
}

.social a.s-tw{
	background-position: -46px 0 ;
}
.social a.s-mail{
	background-position: -69px 0 ;
}
.social a.s-vimeo{
	background-position: -92px 0 ;
}

.login{
	float: right;
	padding-top: 7px;
}

.login a,
.login span {
	color: #FFF;
}

.login a:hover{
	text-decoration: underline;
} 

.basket{
	width: 90px;
	height: 45px;
	float: right;
	margin-left: 25px;
	border-radius: 0 0 10px 10px; 
	background: #C33 url("img3/cart.png") no-repeat 10px 7px;
	overflow: hidden;
}

.basket a{
	display: block;
	height: 45px;
	color: #FFF;
	padding: 15px 0 0 41px;
}

#header{
	padding: 18px 0;
}

#logo span,
#logo img{
	display: inline-block;
	vertical-align: middle;
}
#logo span{
	font-size: 30px;
}

.nav li{
	position: relative;
	float: left;
}
.nav li+li{
	margin-left: 30px;
}
.nav {
	margin-top: 28px;
	font: bold 14px Arial;
}

.nav li:before{
	content: "";
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -18px;
    display: none;
    width: 35px;
    border-top: 4px solid #efc539;
}

.nav li:hover:before,
.nav li.active:before{display: block;}
.nav li a{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
} 

#home{
	margin-bottom: 45px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
	background: #FFF;
}
.home-bg{
	padding: 20px 0;
	background: #cc3333;
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	        box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home{
	font: normal 28px 'Oswald', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li{
	float: left;
}
.breadcrumbs li a,
.breadcrumbs li span{
	font-size: 12px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}
.breadcrumbs li .sp{
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
}
.breadcrumbs li a:hover{
	text-decoration: underline;
}
.link-home{
	display: inline-block;
	float: right;
	width: 36px;
	height: 33px;
	margin-top: 12px;
	background: url("img3/cart.png") no-repeat;
}

.sorting{
	padding: 18px 8px;
	border: 1px solid #eaeaea;
	background: #FFF;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

.s-category li{
	padding: 2px 15px 0 9px;
	float: left;
	color: #1E1E20;
	background: url("img3/s-sp.png") no-repeat right center;
}
.s-category li:first-child{padding-left: 0;}
.s-category li:last-child{background-image: none;padding-right: 0;}
.s-category a{
	text-transform: uppercase;
}
.s-list{
	float: right;
	margin-top: -17px;

}
.sel-serting{
	margin-top: -17px;
	float: right;
	margin-right: 80px;	
}
.s-list a+a{margin-left: 10px;}
.s-list a{
	display: inline-block;
	vertical-align: middle;
}
.ic-squares{
	width: 28px;
	height: 20px;
	background: url("img3/squares.jpg") no-repeat;
}
.ic-list{
	width: 30px;
	height: 20px;
	background: url("img3/list.jpg") no-repeat;
}

.middle{
	padding-bottom: 300px;
}
.sidebar{
	width: 240px;
	float: right;
}
.s-title{
	position: relative;
	margin: 40px 0 10px 10px;
	padding: 0 0 12px 15px;
	font: normal 18px/20px 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #2a2b2c;
	border-bottom: 1px dotted #d5d5d5;
}
.s-title .stitle-bt{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 7px;
	margin-top: -3px; 
	background: #cc3333;
}
.s-products {
	margin: 15px 0 0;
	padding-left: 25px;
}
.comments{
	font-size: 11px;
	color: #1E1E20;
	text-transform: uppercase;
}
.ic-comment{
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 13px;
	background: url("img3/comments.png") no-repeat center;
}
.s-products-item{
	margin-bottom: 15px;
}
.s-products-img{
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}
.s-products-img img{
	display: block;
	width: 100%;
}
.s-products-info{
	margin-left: 100px;
}
.s-products-info h6{
	margin-top: 0;
}
.cat-list{
	margin: 15px 0 30px 0;
	list-style: url("img3/bulletS.png");
	list-style-position: inside; 
	padding-left: 15px;
}
.cat-list li{
	padding: 10px 0;
	border-bottom: 1px dotted #9fa0a1;
}
.cat-list li:last-child{
	border: none;
}
.cat-list li a:hover{text-decoration: underline;}
.cat-list li a{
	font-weight: bold;
}
.cat-list li span{ 
	display: inline-block;
	margin-left: 5px;
	color: #7d7e7e; 
}
.s-search{
	position: relative;
	margin-top: 15px;
	padding-left: 15px;
}
.s-search input[type="text"]{
	width: 100%;
	display: block;
	height: 40px;
	padding: 0 45px 0 15px;
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 2px rgba(0,0,0,0.06);
}
.s-search input[type="text"]::-webkit-input-placeholder{
	font-style: italic;
	color: #c3c2c2;
}

.s-search input[type="submit"]{
	position: absolute;
	top: 0;
	right: 2px;
	height: 40px;
	width: 40px;
	border: 0;
	background:transparent url(img3/s-search.png) no-repeat center;
	cursor: pointer;
}
/* Content sites */
.content{
	margin-top: 40px;
    margin-right: 285px;
}
.products{
	width: 215px;
	height: 370px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	background: #FFF;
	overflow: hidden;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
.products:nth-child(3n){margin-right: 0;}
.p-img{
	position: relative;
	height: 210px;
	overflow: hidden;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}
.sale{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background: rgba(204,51,51,.6);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.p-footer{padding: 0 8px 15px;}
.products h6,
.s-products-info h6{
	margin: 8px 0;
	font-size: 14px;
	font-weight: bold;
}
.products h6 a:hover,
.s-products-info h6:hover{text-decoration: underline;}
.products h6 span{
	font-weight: normal;
	font-style: italic;
}
.p-footer p strong{font-weight: bold;}
.p-footer p{margin-bottom: 15px;}
.price,.price-new,.price-lg{
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}
.price-lg{font-size: 16px;}
.price{text-decoration: line-through;}
.price-new{
	padding: 1px 3px;
	line-height: 16px;
	color: #FFF;
	background: #c33;
}
.add-cart{
	display: block;
	padding: 5px 8px;
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	background: #1e1e20;
	border-radius: 5px;
}
.add-cart:hover{background: #888;}
.rate{
	height: 15px;
	width: 91px;
	margin: 10px 0 ;
	background: url("img3/star.png") repeat-x;
}
.rate > div{
	height: 100%;
	background: url("img3/star1.png") repeat-x;
}
.padination ul li{
    display: inline-flex;
    margin-left: 11px;

}
.padination{
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #C8C8C8;
	background-color: #fff;
}
.padination ul li.active a{color: #cc3333;}
.padination ul  a{
	font-style: 14px;
	font-weight: bold;
	line-height: 18px;
}
#footer{
	height: 300px;
	margin-top: -300px;
	background-color: #666;
}